<div class="about-section" id="head">
    <div class="home-page">
      <div class="image-part">
        <div id="oval_parent">
          <div id="oval">
            <img style="width: inherit;" src="assets/ar.jpg" />
          </div>
        </div>
      </div>
      <div class="text-part">
        <div class="content">
          <div class="header">
            <h2 class="mb-20">
              I Am a Frontend(UI) Developer.
            </h2>
          </div>
          <div class="heading-context">
            <p class="mb-20">
              I had completed MCA from
              <b>MotiLal Nehru Technology,Allahbad</b> session (2016-19). I
              started my carrer as a intern in <b>DIMTS,Delhi</b> as a Software
              Developer, from Jan-2019 to June-2020
            </p>
            <p class="mb-20">
              After that, I started my full time job in
              <b>MountBlue Technology Pvt. Ltd.</b> Currently, I am working in
              this organisation. I am familiar with
              <b>Angular 8/9 and Reactjs</b> very well,
              and I'm learning new things and gaining more experience with ReactJs, and AngularJs, working on  
             git also . I have one year experience in web development feild.
            </p>
          </div>
          <button type="button" class="btn btn-secondary" (click)="download()">
            <img src="assets/downWhite.svg">Resume
          </button>
        </div>
      </div>
    </div>
  </div>
  