<div class="head-component">
<header class="header-component">
    <app-navigationbar></app-navigationbar>  
</header>


<main>
<section id="about">
    <app-about></app-about>
</section>

<section id="project">
    <app-work></app-work>
</section>
</main>

<footer class="portfolio-footer" id="contact">
    <div class="contact-list">
        <a href="https://www.linkedin.com/in/adityaranjan1011/">LinkedIn</a>
        <div class="email"><span>adityamnnit2016@gmail.com</span>
        <span style="padding:10px;">Mob.no:7753831857</span>
        </div>
    </div>
</footer>
</div>