<div class="work-container" id="project">
  <h1>PROJECTS</h1>

  <div class="card-container">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <span>React Game</span>
      </div>
      <div class="card-body text-primary">
        <img class="card-img-top" src="assets/img1.png" alt="Card image cap" />
      </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <span>AutoSuggestion</span>
      </div>
      <div class="card-body text-primary">
        <img class="card-img-top" src="assets/img2.png" alt="Card image cap" />
      </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <span>Content Management</span>
      </div>
      <div class="card-body text-primary">
        <img class="card-img-top" style="padding-top:40px;" src="assets/landing.png" alt="Card image cap" />
      </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <span>AngularPortfolio</span>
      </div>
      <div class="card-body text-primary">
        
        <img style="padding-top:40px;" class="card-img-top" src="assets/portfolio.png" alt="Card image cap" />
      </div>
    </div>
  </div>
  <div class="text">
    <button class="btn btn-secondary">
      <a class="bttn" href="https://github.com/adityaranjan1011"> GITHUB </a>
    </button>
  </div>
</div>
<app-skill-set></app-skill-set>