<div class="text">
  <h1>SKILLS</h1>

  <div class="skills">
    <div class="col">
      <div class="hero-progress">
        <div class="progress-item">
          <p>ANGULAR Js <span class="pull-right">80%</span></p>
          <div class="progress-main">
            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
          </div>
        </div>

        <div class="progress-item">
          <p>REACT Js <span class="pull-right">60%</span></p>
          <div class="progress-main">
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
          </div>
        </div>

        <div class="progress-item">
          <p>GIT BASH<span class="pull-right">70%</span></p>
          <div class="progress-main">
            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="hero-progress">
        <div class="progress-item">
          <p>HTML <span class="pull-right">90%</span></p>
          <div class="progress-main">
            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
          </div>
        </div>

        <div class="progress-item">
          <p>CSS <span class="pull-right">90%</span></p>
          <div class="progress-main">
            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
          </div>
        </div>

        <div class="progress-item">
          <p>NODEJS<span class="pull-right">60%</span></p>
          <div class="progress-main">
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
