 <div class="nav-bar">
 <mat-toolbar class="navigation-bar">
  <span class="nav-bar-items" (click)="toHome()" routerLink="/home" routerLinkActive="active"> Home</span>
  <span class="nav-bar-items" (click)="toAbout()" routerLinkActive="active">About</span>
  <span class="nav-bar-items" (click)="toWork()" routerLinkActive="active">Projects</span>
  <span class="nav-bar-items" (click)="toContact()" >Contact</span>
</mat-toolbar>

<!-- <app-about></app-about> -->
<!-- <div id="work"><app-work></app-work></div>
</div> -->